
@{
    ViewData["Title"] = "Index";
}

<Center>
<h1>How To Insert, Display & Delete The Image Files In The Project wwwroot Folder</h1>
<h2>asp.net Core MVC Tutorials</h2>
<hr/>
    <form method="post" enctype="multipart/form-data" asp-controller="img" asp-action="index">
        <input type="file" name="imgfile"/>
        <input type="submit" value="Upload"/>

    </form>
    </Center>

